.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__websiteLogo {
    width: 150px;
    height: 40px;
}
.header__dropdownBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--data-boxes);
    width: 92px;
    height: 30px;
    font-size: 1rem;
    color: var(--text-fields);
    border-radius: var(--border-sm);
    -webkit-border-radius: var(--border-sm);
    -moz-border-radius: var(--border-sm);
    -ms-border-radius: var(--border-sm);
    -o-border-radius: var(--border-sm);
    padding: var(--pd-buttons);
}
.header__dropdownBtnSetting {
    width: 14px;
    height: 14px;
}
.header__dropdownBtnArrow {
    width: 13px;
    height: 13px;
}